.content__wrap {
    border-right: 1px solid rgb(236, 220, 220);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding: 0 20px;
}
aside {
    flex: 1 1 300px;
    max-width: 300px;
    padding-right: 16px;
    margin-top: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.content__container {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content__container > h3 {
    color: #313131;
    font-size: 24px;
    margin-bottom: 16px;
}

.content__container > a {
    display: block;
    padding: 8px 16px;
    text-align: left;

    color: #888;
    font-size: 16px;
    margin-bottom: 16px;

    background-color: #EEE;
    border-radius: 999px;
    text-decoration: none;

    transition: 0.4s;
}

.content__container > a:hover {
    background-color: #313131;
    color: #AAA;
}